---
import '../css/style.css'
import FrontPage from '../components/FrontPage.astro'
import Section from '../components/Section.astro'
import WaiterCardsContainer from '../components/WaiterCardsContainer.astro'
import WaiterModal from '../components/WaiterModal.astro'
import MenuCardsContainer from '../components/MenuContainer.astro'
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon/favicon.ico">
    <script src="https://kit.fontawesome.com/e05f21b32e.js" crossorigin="anonymous"></script>
    <title>Fars Rum</title>
</head>
<body>
    <FrontPage />
    <WaiterCardsContainer />
    <MenuCardsContainer />
</body>
</html>