---
import '../css/style.css'
import FrontPage from '../components/FrontPage.astro'
import Section from '../components/Section.astro'
import WaiterCardsContainer from '../components/WaiterCardsContainer.astro'
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon/favicon.ico">
    <title>Fars Rum</title>
</head>
<body>
    <FrontPage />
    <WaiterCardsContainer />
</body>
</html>