---
import {data} from '../lib/fetch.js'

const albumTitles = ['album_covers/letavaer_liiglad', 'album_covers/solskin_bag_sky', 'album_covers/sommer_ep', 'album_covers/stadig_dum']


const albums = albumTitles.map((albumTitle, index) => ({
    albumImage: `${albumTitle}.webp`,
}))
---

<div class="container album-covers-container">
    {albums.map((album) => (
        <img
            class="image album-image"
            id="album_image"
            src={album.albumImage}
            alt="album_image"
        />

    ))}
</div>


<style>
    .container.album-covers-container
    {
        position: absolute;
        top: -20px;
        left: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(-50%);
        gap: 20px;
        width: 500px;
    }

    .container.album-covers-container img
    {
        height: 80px;
        width: 80px;
        object-fit: contain;
        border-radius: calc(var(--base-border-radius) * 50);
        cursor: pointer;
    }

    /* @media screen and (min-width: 768px)
    {
        .container.album-covers-container
        {
      
        }
    } */
</style>