---
import Albums from './Albums.astro'
---

<div class="container album-select-container">
    <Albums/>
</div>


<style>
    .container.album-select-container
    {
        position: absolute;
        top: 88%;
        height: 50px;
        width: 275px;
    }

   
</style>

<script>
    const albumCoversContainer = document.querySelector('.album-covers-container')
    const albumTitleText = document.getElementById('album_title_text')
    const albumImages = document.querySelectorAll('.album-image')
    const currentAlbumImage = document.querySelector('#current_album_image') as HTMLImageElement
   
    albumCoversContainer.addEventListener('click', (e) => selectAlbum(e))

    // Select Album
    function selectAlbum(e: any)
    {
        if(e.target.matches('.album-image'))
        {            
            updateCurrentAlbumImage(e)
            updateAlbumTitle(e)
        }

    }

    // Update Current Album Image
    function updateCurrentAlbumImage(e: any)
    {
        const srcParts = e.target.src.split('/')
        const fileName = srcParts[srcParts.length - 1]
        currentAlbumImage.src = `/album_covers/${fileName}`
        updateCurrentAlbumMiniatureImage(e)
    }

    // Update Current Album Miniature Image
    function updateCurrentAlbumMiniatureImage(e: any)
    {
        if(e.target.matches('.album-image'))
        {
            albumImages.forEach((albumImage) => albumImage.style.border = null)
            e.target.style.border = '2px solid var(--border-color)'
        }
    }

    function updateAlbumTitle(e)
    {
        const titles = ['Letavær Liiglad', 'Solskin Bag Sky', 'Sommer EP', 'Stadig Dum']
    
        const albumCovers = albumCoversContainer.children
    
        for(let i = 0; i < albumCovers.length; i++)
        {
           albumCovers[i].setAttribute('data-title', titles[i])
        }

        if(e.target.matches('.album-image'))
        {
            albumTitleText.textContent = e.target.dataset.title
        }
    }
</script>