---
import {data} from '../lib/fetch.js'
---

<div class="container album-covers-container">
    {data.map((albumCovers) => (
        <img
            class="image album-image"
            id="album_image"
            src={albumCovers.album_image}
            alt="album_image"
        />

    ))}
</div>


<style>
    .container.album-covers-container
    {
        display: flex;
        gap: 20px;
    }

    .container.album-covers-container img
    {
        height: 100%;
        width: 100%;
        object-fit: contain;
        border-radius: calc(var(--base-border-radius) * 50);
        cursor: pointer;
    }
</style>