---
import Albums from './Albums.astro'
---

<div class="container album-select-container">
    <Albums/>
</div>


<style>
    .container.album-select-container
    {
        position: absolute;
        top: 88%;
        height: 50px;
        width: 275px;
    }
</style>

<script>
    const albumSelectContainer = document.querySelector('.album-select-container')
    const albumImages = document.querySelectorAll('.album-image')
    const currentAlbumImage = document.querySelector('#current_album_image') as HTMLImageElement
   
    albumSelectContainer.addEventListener('click', (e) => selectAlbum(e))

    function selectAlbum(e: any)
    {
        if(e.target.matches('.album-image'))
        {
            e.target.classList.add('selected-album')
            
            updateCurrentAlbumImage(e)
        }
    }

    function updateCurrentAlbumImage(e: any)
    {
        const srcParts = e.target.src.split('/');
        const fileName = srcParts[srcParts.length - 1];
        // Set the new src with the correct path
        currentAlbumImage.src = `/album_covers/${fileName}`;            currentAlbumImage.src = `/album_covers/${fileName}`;

        updateCurrentAlbumMiniatureImage(e)
    }

    function updateCurrentAlbumMiniatureImage(e: any)
    {
        if(e.target.matches('.album-image'))
        {
            albumImages.forEach((albumImage) => albumImage.style.border = null)
            e.target.style.classList.add('current-selected-album')
        }
    }

    
</script>