---
import Section from "../components/Section.astro";
import Logo from "../components/Logo.astro";
import OpenMenuButton from "../components/OpenMenuButton.astro";
---

<Section class="front-page" id="front_page">
    <div class="container front-page-container">
        <Logo isFaded={false} />
        <p>
            Dine syv musikalske tjenere, <br /> der holder dig beskæftiget til ethvert
            arrangement
        </p>

        <OpenMenuButton openMenuButtonText="Åbn Menu" />
    </div>
</Section>

<style>
    .container.front-page-container p
    {
        font-family: "Roboto", sans-serif;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: wrap;
        font-size: var(--paragraph-font-mobile-size);
        margin: auto;
        font-style: italic;
        text-align: center;
        width: 400px;
        padding: 15px;
        z-index: 10000;
        transition:
            top 0.2s ease-in,
            opacity 0.2s ease-in;
    }

    .container.front-page-container.opened
    {
        top: -400%;
        opacity: 0;
        pointer-events: none;
        z-index: -5000;
        transition:
            top 0.2s ease-in,
            opacity 0.2s ease-in;
    }

    @media screen and (min-width: 768px) {
        .container.front-page-container p
        {
            font-size: var(--paragraph-font-desktop-size);
            top: 66%;
            width: 450px;
        }
    }
</style>
