---
import Section from "../components/Section.astro";
import Logo from "../components/Logo.astro";
import OpenMenuButton from "../components/OpenMenuButton.astro";
---

<div class="container front-page-container">
    <Section class="front-page" id="front_page">
        <Logo isFaded={false} />
        <p>
            Dine syv musikalske tjenere, <br /> der holder dig beskæftiget til ethvert
            arrangement
        </p>

        <OpenMenuButton openMenuButtonText="Åbn Menu" />
    </Section>
</div>

<style>
    .container.front-page-container p {
        font-family: "Roboto", sans-serif;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: wrap;
        font-size: var(--paragraph-font-mobile-size);
        margin: auto;
        font-style: italic;
        text-align: center;
        width: 400px;
        z-index: 10000;
        padding: 15px;
    }

    @media screen and (min-width: 768px) {
        .container.front-page-container p {
            font-size: var(--paragraph-font-desktop-size);
            top: 66%;
            width: 450px;
        }
    }
</style>

<script>
    const openMenuButton = document.getElementById('open_menu_button') as HTMLElement
    const frontPageContainer = document.querySelector('.front-page-container') as HTMLElement

    openMenuButton.addEventListener('click', openMenu)

    function openMenu()
    {
        frontPageContainer.style.opacity = '0'
        frontPageContainer.style.transition = '.2s ease-in'
    }
    console.log(openMenuButton, frontPageContainer)
</script>