---
import TurntableModal from './TurntableModal.astro'
---

<div class="container menu-cards-container">
    <div class="card menu-card" id="menu_card">
        <div class="container card-content-container">
            <header class="card-header" id="card_header">
                <h1>2015</h1>
            </header>
            <p class="text card-text" id="card_text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Aperiam minima placeat consectetur labore nemo cum nisi optio
                vitae ea beatae perspiciatis, recusandae deserunt praesentium.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Aperiam minima placeat consectetur labore nemo cum nisi optio
                vitae ea beatae perspiciatis, recusandae deserunt praesentium.
            </p>
        </div>
        <img src="../../public/album_covers/letavaer_liiglad.webp" alt="" />
    </div>

    <div class="card menu-card" id="menu_card">
        <div class="container card-content-container">
            <header class="card-header" id="card_header">
                <h1>2015</h1>
            </header>
            <p class="text card-text" id="card_text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Aperiam minima placeat consectetur labore nemo cum nisi optio
                vitae ea beatae perspiciatis, recusandae deserunt praesentium.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Aperiam minima placeat consectetur labore nemo cum nisi optio
                vitae ea beatae perspiciatis, recusandae deserunt praesentium.
            </p>
        </div>
        <img src="../../public/album_covers/letavaer_liiglad.webp" alt="" />
    </div>

    <div class="card menu-card" id="menu_card">
        <div class="container card-content-container">
            <header class="card-header" id="card_header">
                <h1>2015</h1>
            </header>
            <p class="text card-text" id="card_text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Aperiam minima placeat consectetur labore nemo cum nisi optio
                vitae ea beatae perspiciatis, recusandae deserunt praesentium.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Aperiam minima placeat consectetur labore nemo cum nisi optio
                vitae ea beatae perspiciatis, recusandae deserunt <button id="turntable_modal_open_button">praesentium</button>.
            </p>
        </div>
        <img src="../../public/album_covers/letavaer_liiglad.webp" alt="" />
    </div>
</div>

<style>
    .container.menu-cards-container
    {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 0 60px;
        margin-top: 40px;
        height: 80vh;
        margin-bottom: 40px;
        overflow-x: scroll;
    }
    .card.menu-card
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }


    .card.menu-card header h1
    {
        color: var(--heading-color);
    }

    .card.menu-card p
    {
        width: 100%;
    }

    .card.menu-card img
    {
        border-radius: calc(var(--base-border-radius) * 50);
        height: 150px;
        width: 150px;
    }
   
    @media screen and (min-width: 768px)
    {
        .container.menu-cards-container
        {
            gap: 70px;
        }

        .card.menu-card
        {
            flex-direction: row;
        }

        .card.menu-card p
        {
            width: 60%;
        }

        
        .card.menu-card:nth-child(odd) img
        {
            transform: rotate(-30deg);
        }
        .card.menu-card:nth-child(even) img
        {
            transform: rotate(30deg);
        }
    }
</style>

<script>
    const turntableModalContainer = document.querySelector('#turntable_modal_container')
    const turntableModalOpenButton = document.querySelector('#turntable_modal_open_button')

    turntableModalOpenButton.addEventListener('click', openTurntableModal)

    function openTurntableModal()
    {
     turntableModalContainer.classList.add('opened')
    }

</script>