---
const { openMenuButtonText } = Astro.props;
---

<button class="button open-menu-button" id="open_menu_button">
    <span class="hover-overlay" id="hover_overlay"></span>
    {openMenuButtonText}
</button>

<style>
    .open-menu-button
    {
        position: relative;
        font-family: 'Roboto', sans-serif;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--btn-background-color);
        padding: 10px 15px;
        color: var(--secondary-text-color);
        text-transform: uppercase;
        font-size: 15px;
        width: fit-content;
        overflow: hidden;
    }

    .hover-overlay {
        position: absolute;
        top: 0;
        left: 20px;
        height: 500%;
        transform: rotate(-45deg) translate(-50%, -50%);
        width: 20px;
        background-color: rgba(255, 255, 255, 0.4);
        transition: left 0.7s ease-in;
    }
    .open-menu-button:hover .hover-overlay {
        left: 300px;
        transition: left 0.7s ease-in;
    }
   
</style>

<script>
    const openMenuButton = document.querySelector('#open_menu_button') as HTMLButtonElement;
    const sectionContainers = document.querySelectorAll('.section-container')
    const frontPageContainer = document.querySelector('.front-page-container') as HTMLElement;

    openMenuButton.addEventListener('click', openMenu)


    function openMenu()
    {
        frontPageContainer.classList.add('opened')
        sectionContainers[0].classList.add('active')
    }
</script>