---
const { openMenuButtonText } = Astro.props;
---

<button class="button open-menu-button" id="open_menu_button">
    <span class="hover-overlay" id="hover_overlay"></span>
    {openMenuButtonText}
</button>

<style>
    .open-menu-button
    {
        position: relative;
        font-family: 'Roboto', sans-serif;
        position: absolute;
        bottom: 150px;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--btn-background-color);
        padding: 10px 15px;
        color: var(--secondary-text-color);
        text-transform: uppercase;
        font-size: 15px;
        width: fit-content;
        overflow: hidden;
    }

    .hover-overlay {
        position: absolute;
        top: 0;
        left: 20px;
        height: 500%;
        transform: rotate(-45deg) translate(-50%, -50%);
        width: 20px;
        background-color: rgba(255, 255, 255, 0.4);
        transition: left 0.7s ease-in;
    }
    .open-menu-button:hover .hover-overlay {
        left: 300px;
        transition: left 0.7s ease-in;
    }
   
    .open-menu {
        transform: translateX(-100%);
        transition: transform .3s ease-in;
    }

    .active-page
    {
        z-index: 70000;
    }
</style>

<script>
    const openMenuButton = document.getElementById('open_menu_button')
    const sectionContainers = document.querySelectorAll('.section-container')

    openMenuButton.addEventListener('click', openMenu)

    function openMenu()
    {
        document.body.style.overflowX = 'scroll'
    }
</script>