---
import Logo from '../components/Logo.astro'
import SocialMediaIconsContainer from '../components/SocialMediaIconsContainer.astro'
const {className, id} = Astro.props
---

<section class={className} id={id}>
    <div class="container section-container">
        <slot/>
        <SocialMediaIconsContainer/>
    </div>
</section>

<style>
    section
    {
        position: absolute;
        background-color: var(--section-background-color);
        height: 100vh;
        width: 100vw;
    }

    section:nth-child(1)
    {
        z-index: 4000;
    }

    section:nth-child(2)
    {
        z-index: 3000;
    }

    section:nth-child(3)
    {
        z-index: 2000;
    }

    section .container.section-container
    {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 98vh;
        width: 98vw;
        border: 2px solid var(--border-color);
        overflow-x: hidden;
        pointer-events: all;
    }

</style>

<script>
    const sectionContainers = document.querySelectorAll('.section-container')

    window.addEventListener('load', () =>
    {
        sectionContainers.forEach((sectionContainer) =>
        {
            sectionContainer.classList.remove('active')
        })
    })
</script>