---
import RecordPlayerBackground from './RecordPlayerBackground.astro'
import AlbumSelectContainer from './AlbumSelectContainer.astro'

---

<div class="turntable-modal-container opened" id="turntable_modal_container">
    <i class="fas fa-times modal-close-button" id="turntable_modal_close_button"></i>
    <div class="container turntable-modal-inner-container">
        <RecordPlayerBackground />
    </div>
    <AlbumSelectContainer/>
</div>


<style>
    .turntable-modal-container
    {
        display: grid;
        place-items: center;
        position: absolute;
        top: -50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--modal-background-color);
        height: 80%;
        width: 90%;
        z-index: 5000;
        overflow: hidden;
        opacity: 0;
        pointer-events: all;
        border: 2px solid var(--border-color);
        box-shadow: var(--box-shadow);
        transition: top .4s ease-in, opacity .4s ease-in;
    }

    .turntable-modal-container.opened
    {
        top: 50%;
        opacity: 1;
        transition: top .4s ease-in, opacity .4s ease-in;
    }

    .modal-close-button
    {
        font-size: 20px;
        position: absolute;
        top: 30px;
        right: 30px;
        color: var(--border-color);
        cursor: pointer;
        z-index: 10000;
    }
</style>

<script>
    const turntableContainer = document.querySelector('.turntable-modal-container')
    const turntableModalCloseButton = document.querySelector('#turntable_modal_close_button')

    // window.addEventListener('load', openTurntableModal)

    turntableModalCloseButton.addEventListener('click', (e) => closeTurntableModal(e))

    function openTurntableModal()
    {
        turntableContainer.classList.add('opened')
    }

    function closeTurntableModal()
    {
        turntableContainer.classList.remove('opened')
    }
</script>