---
import Section from "./Section.astro";
---

<Section class="waiter-cards-container" id="waiter_cards_container">
    <div class="container waiter-cards-container" id="waiter_cards_container">
        <p>Hey!</p>
    </div>
</Section>

<style>
    .container.waiter-cards-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid #333;
        height: 95%;
        width: 90%;
        z-index: 9000;
    }
</style>
