---
import WaiterInfoCardsContainer from './WaiterInfoCardsContainer.astro'
import WaiterModalCloseButton from './WaiterModalCloseButton.astro'
---

<div class="waiter-modal-container opened" id="waiter_modal_container">
    <WaiterModalCloseButton/>
    <div class="container waiter-modal-inner-container">
        <div>
            <!-- <img src="../avatars/avatar_test_image.jpg" class="waiter-modal-image" id="waiter_modal_image" alt="waiter_modal_image"> -->
            <WaiterInfoCardsContainer/>
        </div>
    </div>
</div>

<style>
    .waiter-modal-container {
        display: grid;
        place-items: center;
        position: absolute;
        top: -50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--modal-background-color);
        height: 80%;
        width: 90%;
        z-index: 5000;
        overflow: hidden;
        opacity: 0;
        pointer-events: none;
        transition: .4s ease-in;
    }

    .waiter-modal-container.opened
    {
        top: 50%;
        opacity: 1;
        pointer-events: all;
    }

    .container.waiter-modal-inner-container
    {
        /* position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); */
        height: 98%;
        width: 98%; 
        border: 2px solid var(--border-color);
        box-shadow: var(--box-shadow);
    }

    /* .container.waiter-modal-inner-container div
    {
        display: flex;
    } */

    .waiter-modal-container .container.waiter-modal-inner-container img.waiter-modal-image
    {
        position: absolute;
        top: 7%;
        left: 50%;
        transform: translateX(-50%);
        height: 150px;
        width: 150px;
        border-radius: calc(var(--base-border-radius) * 50);
        object-fit: cover;
    }


    @media screen and (min-width: 768px)
    {
        .waiter-modal-container .container.waiter-modal-inner-container img.waiter-modal-image
        {
            height: 200px;
            width: 200px;
        }
    }
 
</style>


