<div class="container waiter-info-slider-control-buttons-container">
    <i class="fa-solid fa-arrow-left prev-card-btn" id="prev_card_btn"></i>
    <i class="fa-solid fa-arrow-right next-card-btn" id="next_card_btn"></i>
</div>

<style>

    .waiter-info-slider-control-buttons-container i
    {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--icon-color);
        border: 2px solid var(--border-color);
        height: 30px;
        width: 30px;
        border-radius: calc(var(--base-border-radius) * 100);
        cursor: pointer;
    }

    @media screen and (min-width: 768px)
    {
    .waiter-info-slider-control-buttons-container
    {
        padding: 0 400px;
    }
        .waiter-info-slider-control-buttons-container i
        {
            height: 40px;
            width: 40px;
            font-size: 20px;
        }

    }
</style>