---
import WaiterInfoSliderControlButtons from "./WaiterInfoSliderControlButtons.astro";
const waiterInfoCardHeading = ["Navn", "Kunstnernavn", "Rolle", "Om"];
---

<div class="container waiter-cards-info-container">
    <img
        src="../avatars/avatar_test_image.jpg"
        class="waiter-modal-image"
        id="waiter_modal_image"
        alt="waiter_modal_image"
    />
    <div class="cards-container">
        <div class="card waiter-info-card current" id="waiter_info-card">
            <div class="waiter-info-card-inner-container">
                <div class="waiter-info-card-front" id="waiter_info_card_front">
                    <h3>Navn</h3>
                </div>
                <div class="waiter-info-card-back" id="waiter_info_card_back">
                    <p>Jumelo</p>
                </div>
            </div>
        </div>
        <div class="card waiter-info-card" id="waiter_info-card">
            <div class="waiter-info-card-inner-container">
                <div class="waiter-info-card-front" id="waiter_info_card_front">
                    <h3>Hey</h3>
                </div>
                <div class="waiter-info-card-back" id="waiter_info_card_back">
                    <p>Jumelo</p>
                </div>
            </div>
        </div>
        <div class="card waiter-info-card" id="waiter_info-card">
            <div class="waiter-info-card-inner-container">
                <div class="waiter-info-card-front" id="waiter_info_card_front">
                    <h3>Navn</h3>
                </div>
                <div class="waiter-info-card-back" id="waiter_info_card_back">
                    <p>Jumelo</p>
                </div>
            </div>
        </div>
        <div class="card waiter-info-card" id="waiter_info-card">
            <div class="waiter-info-card-inner-container">
                <div class="waiter-info-card-front" id="waiter_info_card_front">
                    <h3>Navn</h3>
                </div>
                <div class="waiter-info-card-back" id="waiter_info_card_back">
                    <p>Jumelo</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="buttons">
    <button id="prev"><i class="fas fa-arrow-left"></i></button>
    <button id="next"><i class="fas fa-arrow-right"></i></button>
</div>

<style>
    .container.waiter-cards-info-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    img.waiter-modal-image {
        margin-top: 50px;
        height: 150px;
        width: 150px;
        border-radius: calc(var(--base-border-radius) * 50);
        object-fit: cover;
    }

    .buttons button#next,
    .buttons button#prev {
        position: absolute;
        top: 65%;
        color: var(--icon-color);
        height: 30px;
        width: 30px;
        background-color: var(--button-background-color);
        box-shadow: var(--box-shadow);
        border: 2px solid var(--border-color);
        border-radius: calc(var(--base-border-radius) * 2);
        transition:
            color 0.2s ease-in,
            background-color 0.2s ease-in;
    }

    .buttons button#next:hover,
    .buttons button#prev:hover {
        color: var(--button-background-color);
        background-color: var(--icon-color);
        transition:
            color 0.2s ease-in,
            background-color 0.2s ease-in;
    }

    .buttons button#next:active,
    .buttons button#prev:active {
        transform: scale(0.98);
        box-shadow: none;
        transition: none;
    }

    .buttons button#next {
        right: 15px;
    }

    .buttons button#prev {
        left: 15px;
    }

    .cards-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .card.waiter-info-card {
        grid-column: 1;
        grid-row: 1;
        height: 350px;
        width: 200px;
        opacity: 0;
        cursor: pointer;
        transition: opacity 0.3s ease-in;
    }

    .card.waiter-info-card.current {
        z-index: 10000;
        opacity: 1;
        transition: opacity 0.3s ease-in;
    }

    .waiter-info-card-inner-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        height: 100%;
        width: 100%;
        transition: transform 0.5s ease-in;
        transform-style: preserve-3d;
    }

    .card.waiter-info-card:hover .waiter-info-card-inner-container {
        transform: rotateY(180deg);
    }

    .card.waiter-info-card .waiter-info-card-front {
        background-color: var(--card-background-color);
        color: var(--heading-color);
    }

    .card.waiter-info-card .waiter-info-card-back {
        color: var(--secondary-text-color);
        font-size: var(--paragraph-mobile-font-size);
        font-weight: var(--paragraph-font-weight);
        transform: rotateY(180deg);
        padding: 20px;
    }

    .card.waiter-info-card .waiter-info-card-front,
    .card.waiter-info-card .waiter-info-card-back {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: var(--card-background-color);
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .card.waiter-info-card .waiter-info-card-front {
        background-color: #222;
    }

    @media screen and (min-width: 768px) {
        .container.waiter-cards-info-container {
            margin-top: 50px;
            gap: 100px;
        }

        .card.waiter-info-card {
            height: 200px;
            width: 350px;
        }

        .buttons button#next {
            right: 120px;
            height: 40px;
            width: 40px;
            font-size: 20px;
        }

        .buttons button#prev {
            left: 120px;
            height: 40px;
            width: 40px;
            font-size: 20px;
        }
    }

    @media screen and (min-width: 1200px)
    {
        .buttons button#next {
            right: 350px;
        }

        .buttons button#prev {
            left: 350px;
        }
    }
</style>

<script>
    const cards = document.querySelectorAll('.card') as NodeList
    const next = document.querySelector('#next')
    const prev = document.querySelector('#prev')

    const nextSlide = () =>
    {
        // Get current class
        const current = document.querySelector('.current')
        // Remove current class
        current.classList.remove('current')
        // Check for next slide
        if (current.nextElementSibling)
        {
            // Add current to next sibling
            current.nextElementSibling.classList.add('current')
        }
        else
        {
            // Add current to start
            current.parentElement.firstElementChild.classList.add('current')
        }
    }

    const prevSlide = () =>
    {
        // Get current class
        const current = document.querySelector('.current')
        // Remove current class
        current.classList.remove('current')
        // Check for prev slide
        if (current.previousElementSibling)
        {
            // Add current to prev sibling
            current.previousElementSibling.classList.add('current')
        }
        else
        {
            // Add current to last
            current.parentElement.lastElementChild.classList.add('current')
        }
    }

    prev.addEventListener('click', prevSlide)
    next.addEventListener('click', nextSlide)
</script>
