---
import Section from "./Section.astro";
---

<Section class="waiter-cards-container" id="waiter_cards_container">
    <div class="container waiter-cards-container" id="waiter_cards_container">
        Hey
    </div>
</Section>

<style>
    .container.waiter-cards-container {
        border: 2px solid #333;
        height: 100%;
        width: 100%;
    }
</style>