---
const waiterImage = ["../avatars/avatar_test_image.jpg", "../avatars/avatar_test_image.jpg", "../avatars/avatar_test_image.jpg", "../avatars/avatar_test_image.jpg", "../avatars/avatar_test_image.jpg", "../avatars/avatar_test_image.jpg", "../avatars/avatar_test_image.jpg"];
const artistName = [
    "Jumelo",
    "HejMahn",
    "Mælk",
    "PastorPaa",
    "Smøren",
    "Stranders",
    "Julle",
];
const civilName = [
    "Samuel Himmelstrup",
    "Ramzi Qader",
    "Mikkel Deleuran",
    "Simon Mortensen",
    "Søren Dahl",
    "Anders Pedersen",
    "Julian Falck",
];

const waiterCards = artistName.map((artistName, index) =>
({
    waiterImage: waiterImage[index],
    artistName: artistName,
    civilName: civilName[index],
}));
---

<div class="container waiter-cards-container">
    {
        waiterCards.map((waiterCard) => (
            <div class="card waiter-card" id="waiter_card">
                <img
                    class="image waiter-image"
                    id="waiter_image"
                    src={waiterCard.waiterImage}
                    alt="waiter_image"
                />
                <div class="container name-container">
                    <p class="civil-name" id="civil_name">
                        {waiterCard.civilName}
                    </p>
                    <p class="artist-name" id="artist_name">
                        {waiterCard.artistName}
                    </p>
                </div>
            </div>
        ))
    }
</div>

<style>
    .card.waiter-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 30px;
        height: 250px;
        width: 200px;
        background-color: var(--card-background-color);
        z-index: 4000;
        cursor: pointer;
    }

    .card.waiter-card:not(:last-child)
    {
        margin-bottom: 20px;
    }
    
    .card.waiter-card img {
        height: 100px;
        width: 100px;
        object-fit: cover;
        border-radius: calc(var(--base-border-radius) * 5);
        border: 2px solid var(--border-color);
    }

    .card.waiter-card .container.name-container {
        color: var(--secondary-text-color);
        margin-top: 20px;
        letter-spacing: 1px;
        overflow: hidden;
    }

    .card.waiter-card .container.name-container p
    {
        font-size: var(--primary-heading-mobile-font-size);
        font-weight: var(--paragraph-font-weight);
        padding: 0 20px;
    }

    .card.waiter-card .container.name-container p:first-child {
        transition: transform 0.4s ease-in;
    }

    .card.waiter-card:hover .container.name-container p:first-child {
        transform: translateY(-50px);
        transition: transform 0.4s ease-in;
    }

    .card.waiter-card .container.name-container p:last-child {
        transform: translateY(50px);
        transition: transform 0.4s ease-in;
    }
    .card.waiter-card:hover .container.name-container p:last-child {
        transform: translateY(-25px);
        transition: transform 0.4s ease-in;
    }
</style>
