---
import Section from "./Section.astro";
import Logo from "./Logo.astro";
import WaiterCards from "./WaiterCards.astro";
import WaiterModal from "./WaiterModal.astro";
---

<Section class="waiter-cards-container" id="waiter_cards_container">
    <WaiterModal/>
    <Logo isFaded={true} />
    <header>
        <h1>Tjenere</h1>
    </header>
    <div class="container waiter-cards-container" id="waiter_cards_container">
        <WaiterCards/>
    </div>
</Section>


<style>
    .container.waiter-cards-container {
        display: grid;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
        height: 80vh;
        overflow-x: hidden;
    }

    header h1
    {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 30px;
        color: var(--heading-color);
        text-transform: uppercase;
        text-align: center;
        border-bottom: 2px solid var(--border-color);
        width: fit-content;
        font-size: var(--primary-heading-mobile-font-size);
    }

    @media screen and (min-width: 768px)
    {
        header h1
        {
            font-size: var(--primary-heading-desktop-font-size);
        }
    }
</style>
