---
import FrontPage from "../components/FrontPage.astro";
import WaiterCardsContainer from "../components/WaiterCardsContainer.astro";
const { title } = Astro.props;
import FrontPage from "../components/FrontPage.astro";
import WaiterCardsContainer from "../components/WaiterCardsContainer.astro";
const { title } = Astro.props;
---

<!doctype html>
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="favicon/favicon.ico" />
        <title>{title}</title>
    </head>
    <body>
        <WaiterCardsContainer />
        <FrontPage />
        <WaiterCardsContainer />
    </body>
</html>

